* {
  font-family: 'Rowdies';
}

:root {

    --white: #ffffff;
    --red: #fc2403;
    --gray: #c2c2c2;
    --ash-black: #282828;
    --border-radius: .375em;
    
}

body {
    background-color: var(--red);
}

.nav-menu {
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-list {
  display: flex;
  gap: 5px;
}

.nav-menu-dropdown-parent {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  z-index: 100;
}

.nav-menu-dropdown-parent:hover .nav-submenu {
  display: block;
}

.nav-menu-dropdown-parent:hover .dropdown-arrow {
  rotate: 180deg;
}

.nav-menu-container {
  color: var(--white);
  padding: 3px;
  border-radius: var(--border-radius);
}

.nav-red-arrow {
  padding: 0 0 0 5px;
}

/* Hover Styles */
.nav-menu-dropdown-parent:hover {
  background-color: var(--ash-black);
  color: var(--red);
}

#title {
  font-family: 'Monofett';
  font-size: 50px;
}

.welcome-page {
    background-image: url('../src/assets/images/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-page {
    background-image: url('../src/assets/images/listen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#modal-id {
    background-image: url('https://images.unsplash.com/photo-1604262725913-1c415cd27564?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2142&q=80');
}

/* Product List */
.cart-btn {
    background-color: var(--red);
}

    .sidebar li:hover a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background: black;
    }

    .sidebar li:hover a i,
    .sidebar li:hover a span {
      color: white;
    }
    
/* Comments Component */
.carousel-cell {
    width: 150px;
    height: 150px;
  
    margin-right: 24px;
    counter-increment: carousel-cell;
  }
  
  .carousel-cell:before {
    display: block;
    width: 20%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -260px !important;
  }
  
  .flickity-button {
    position: absolute !important;
    inset: 0 !important;
    top: 50% !important;
    left: 80% !important;
    background: white;
    border: 0px;
    color: #27272a;
  }
  
  .flickity-prev-next-button:hover {
    background-color: #27272a;
    color: white;
  }
  
  .flickity-prev-next-button.previous {
    visibility: hidden;
  }
  
  .flickity-prev-next-button.next {
    margin-left: 50px;
    width: 48px;
    height: 48px;
    visibility: hidden;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: none;
    cursor: default;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    margin-left: 2px;
    margin-top: 2px;
    width: 24px;
    height: 24px;
  }